.file_viewer{
	float: left;
	background-color : #D8D8AB;
	width: 20%;
	height:100%;
	border-style: ridge;
}
.child{
	margin-left: 2em;
}
.folder{
	color : #636300;
}
.file{
	color : #2E2E68;
}
li {
    list-style-type: none;
}
.CodeMirror{
	background-color: #E8E8EF;
}
.name_tab{
	background-color : #E8E8EF;
	border-style: ridge;
	padding: 0px 5px 0px 5px;
}

.file_name_nav{
	margin-left: 20em;
}