.file_viewer{
	float: left;
	background-color : #D8D8AB;
	width: 20%;
	height:100%;
	border-style: ridge;
}
.child{
	margin-left: 2em;
}
.folder{
	color : #636300;
}
.file{
	color : #2E2E68;
}
li {/*this disables the default context menu*/
    list-style-type: none;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.CodeMirror{
	background-color: #E8E8EF;
}
.name_tab{
	background-color : #E8E8EF;
	border-style: outset;
	padding: 0px 5px 0px 5px;
}

.file_name_nav{
	margin-left: 20em;
}
.context_menu{
	position : absolute;
	width: 25em;
	height:10em;
	background-color : #E5E5CE;
	border-style: ridge;
}
.selected{
	background-color: white;
}
.pop_up{
	z-index : 1;
	position : absolute;
	padding: 50px 55px 50px 55px;
	background-color: #E3F4FF;
	border-style: ridge;
	z-index : 10;
}
.intel_box{
	z-index : 10;
	position : absolute;
	/*padding: 50px 55px 50px 55px;*/
	background-color: #E3F4FF;
	border-style: outset;
}
