p.c{
	float:left;
	margin-top: 0%;
	margin-bottom: 0%;
	padding:0px 0px 0px 1px;
}
p.l{
	margin-top: 0%;
	margin-bottom: 0%;
}
.space{
	opacity: 0;
}
p#Stick{
	position: absolute;
	margin-bottom: -5px;
	opacity: 1;
}
.selected{
	background-color: blue;
	color: white;
}